
.home {
    padding: 20px 130px 50px 130px;
    background-color:#FFDFCF;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 4px;

    .left {
      display: flex;
      flex-direction: column;
      width: 50%;
      margin-top: -50px;

      .position {
        font-size: 50px;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        color: #3B3A36;
        text-align: left;
      }
  
      .explain {
        font-family: 'Montserrat', sans-serif;
        margin-top: -20px;
        font-size: 16px;
        text-align: left;
      }
  
      .get-started {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
  
        input {
          height: 42px;
          margin-right: 10px;
          border-radius: 6px;
          border: 2px solid grey;
          background-color: #E7E9EB;
          padding-left: 20px;
          font-family: 'Montserrat', sans-serif;
          font-size: 14px;
          width: 50%;
        }
  
        button {
          font-family: 'Montserrat', sans-serif;
          border-radius: 6px;
          padding: 15px;
          background-color: #DC5C3B;
          color: white;
          font-size: 16px;
          border: none
        }

      }

    
    }

    .right {
      display: flex;
      justify-content: flex-end;
      margin-top: -30px;

      img {
        width: 90%;
      }

    }

   
    
  }
  

  



