.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 15%;

    .logo {
        color: white;
        margin-bottom: 40px;
        margin-top: -100px;
        display: flex;
        justify-content: flex-start;

        h1 {
            background-color: #DC5C3B;
            border-radius: 60%;
            padding: 15px;
            transform: rotate(-10deg); 
            background: repeating-linear-gradient(
                45deg,
                #DC5C3B,
                #FFDFCF 1px,
                #DC5C3B 1px,
                #DC5C3B 15px
              ),
        }
    }

    form {
        width: 25%;
        background-color: #F2F0EF ;
        padding: 50px;
        border-radius: 4px;
        display: flex;
        flex-direction: column;
        margin-top: -100px;

        p {
            font-family: 'Montserrat', sans-serif;
            color: #DC5C3B
        }

        .input-container {
            border: none;
            border-radius: 4px;
            background-color: white;
            padding: 5px;
            display: flex;
            margin-bottom: 20px;
            align-items: center;

            i {
                color: grey;
                margin-right: 5px;
                margin-left: 5px;
                font-size: 12px;
            }
            input {
                width: 100%;
                border: none;
                height: 30px;
                font-size: 16px;
                font-family: 'Montserrat', sans-serif;
                padding-bottom: 5px;
                color: #DC5C3B
            }

            input:-webkit-autofill,
            input:-webkit-autofill:hover, 
            input:-webkit-autofill:focus, 
            input:-webkit-autofill:active  {
                -webkit-box-shadow: 0 0 0 30px white inset !important;
                font-family: 'Montserrat', sans-serif;
            }

            input:focus {
                outline: none
            }

            
        }

        .input-container:focus {
            outline: 1px solid #9A9998 ;
        }

        button {
            height: 35px;
            background-color: #C8C8C8  ;
            border: none;
            border-radius: 4px;
            font-family: 'Montserrat', sans-serif;
            font-size: 14px;
        }

    
    }

    .new-here {
        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
        color: blue;

        a {
            color: #DC5C3B;
        }
    }
}