.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    background-color: #FFDFCF;
    padding: 30px 0 0 0;

    .logo {
        margin-left: 130px;
        color: white;

        h1 {
            background-color: #DC5C3B;
            border-radius: 60%;
            padding: 15px;
            transform: rotate(-10deg); 
            background: repeating-linear-gradient(
                45deg,
                #DC5C3B,
                #FFDFCF 1px,
                #DC5C3B 1px,
                #DC5C3B 15px
              ),
        }
    }

    .navigation {
        margin-right: 130px;
        display: flex;
        align-items: center;

        a {
            margin-right: 20px;
            text-decoration: none;
            color: #61605D;
        }

        a:hover {
            color: #3B3A36
        }

        .getStarted-btn {
            border: 1px solid #61605D;
            padding: 8px;
            border-radius: 4px;
            font-size: 14px;
            background-color: transparent;
            font-family: 'Montserrat', sans-serif;
            color: #61605D;
            margin-right: 20px;
        }

        .getStarted-btn:hover {
            border:  1px solid #3B3A36;
            background-color: #3B3A36;
            color: white
        }

        .account {
            .account-icon {
                font-size: 30px;
                color: grey
            }

            .account-icon:hover {
                color: black
            }
        }
    }
}