.timetable-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 50px;

    .logout-container {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        margin-right: 100px;
    }

    .timezone-container {
        margin-bottom: 30px;

        label {
            color: #DC5C3B;
            font-weight: bold;
        }
        

        .timezone {
            margin-left: 20px;
            font-family: 'Montserrat', sans-serif;
        }

    }

    table {
        tr { 
            display: block; 
            float: left; 
            text-align: center;
            margin-right: 10px;
        }
        th, td { 
            display: block; 
        }

        .daytime {
            margin-bottom: 15px;
            font-weight: 500;
            font-size: 18px;
        }

        .hour-visible, .hour-invisible {
            border: 1px solid #00629A;
            padding: 8px 15px 8px 15px;
            margin: 0 10px 10px 0;
            border-radius: 4px;
            cursor: pointer;
        }

        .hour-visible:hover {
            background-color: #B4D2FB;
            
        }

        .hour-invisible {
            visibility: hidden;
        }
    }

    .next-btn {
        padding: 8px 15px 8px 15px;
        font-size: 18px;
        border-radius: 4px;
        background-color:  #DC5C3B;
        color: white;
        border: none;
        font-weight: bold;
        margin-left: 20px;
        font-family: 'Montserrat', sans-serif;
    }
}