.time-container {
    .top {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;

        .timezone {
            margin-left: 20px;
        }

        button {
            margin-right: 200px;
            background-color:  rgb(20, 134, 173);
            border-radius: 4px;
            padding: 5px;
            color: white;
            width: 8%;
            font-size: 16px;
        }
    }

    .slots {
        display: flex;
        margin-left: 20px;

        
        
        .each-slot {
            margin: 20px;
            text-align: center;

            .non-date {
                // visibility: hidden;
            }

            .time {
                border: 1px solid rgb(20, 134, 173);
                padding: 5px;
                border-radius: 4px;
            }

            .time-not {
                border: 1px solid rgb(20, 134, 173);
                padding: 5px;
                border-radius: 4px;
                visibility: hidden;
            }
        }
    }
}

.loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
    margin: 20% auto;

    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
      }

}