.timetable-container {
    display: flex;
    justify-content: center;
    padding-top: 50px;

    tr { 
        display: block; 
        float: left; 
        text-align: center;
        margin-right: 10px;
    }
    th, td { 
        display: block; 
    }

    .daytime {
        margin-bottom: 15px;
        font-weight: 500;
        font-size: 18px;
    }

    .hour-visible, .hour-invisible {
        border: 1px solid #00629A;
        padding: 8px 15px 8px 15px;
        margin: 0 10px 10px 0;
        border-radius: 4px;
        cursor: pointer;
    }

    .hour-visible:hover {
        background-color: #B4D2FB;
        
    }

    .hour-invisible {
        visibility: hidden;
    }
}