.topics {
    margin: 20px;

    .topic {
        padding: 5px;
        border: 1px solid rgb(20, 134, 173);
        border-radius: 4px;
        width: 11%;
        margin: 10px;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: inline-block;
        text-align: center;
    }

    // .topic:focus {
    //     background-color: black;
    // }

}